<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>사용자 상세 화면</title>
    <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
<h1>사용자 상세 화면</h1>
<table border="1">
    <thead>
    <tr>
        <th>이름</th>
        <th>닉네임</th>
        <th>이메일</th>
        <th>주소</th>
        <th>연락처</th>
        <th>소셜</th>
        <th>소셜 아이디</th>
        <th>약관 동의</th>
        <th>가입일자</th>
        <th>수정일자</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.userName}">이름</td>
        <td th:text="${user.userNickname}">닉네임</td>
        <td th:text="${user.userEmail}">이메일</td>
        <td th:text="${user.userAddress}">주소</td>
        <td th:text="${user.userPhone}">연락처</td>
        <td th:text="${user.socialProvider}">소셜</td>
        <td th:text="${user.socialId}">소셜 아이디</td>
        <td th:text="${user.termsAgreed}">약관 동의</td>
        <td th:text="${user.userCreatedAt}">가입일자</td>
        <td th:text="${user.userUpdatedAt}">수정일자</td>
    </tr>
    </tbody>
</table>

<!-- 수정 버튼 -->
<form th:action="@{'/api/admin/users/' + ${user.userId} + '/update'}" method="post">
    <input type="hidden" name="userEmail" th:value="${user.userEmail}" />
    <input type="hidden" name="userNickname" th:value="${user.userNickname}" />
    <input type="hidden" name="userName" th:value="${user.userName}" />
    <input type="hidden" name="userAddress" th:value="${user.userAddress}" />
    <input type="hidden" name="userPhone" th:value="${user.userPhone}" />
    <input type="hidden" name="socialProvider" th:value="${user.socialProvider}" />
    <input type="hidden" name="socialId" th:value="${user.socialId}" />
    <input type="hidden" name="termsAgreed" th:value="${user.termsAgreed}" />

    <input type="submit" value="수정">
</form>


<!-- 삭제 버튼 -->
<form th:action="@{'/api/admin/users/' + ${user.userId} + '/delete'}" method="post">
    <input type="hidden" name="_method" value="delete"/>
    <input type="submit" value="삭제" onclick="return confirm('정말 삭제하시겠습니까?');">
</form>

<!-- 목록 돌아가기 -->
<a th:href="@{/api/admin/users}">목록으로 돌아가기</a>

</body>
</html>
